@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Inconsolata, Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --cor1: #ffffff;
    --cor2: #d2d1d6;
    --cor3: #8784a4;
    --cor4: #4b486a;
    --cor5: #0c082b;
    --cor6: #f57261;
    --cor7: #e16151;
    /* gradiente texto */
    --grad_1: #f37362;
    --grad_2: #ffffff;
}

body {
    background-image: url('assets/images/pattern-lines.svg'), url('assets/images/background-desktop.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: auto, cover;
}

#logo-full {
    width: 150px;
    display: block;
    margin: auto;
    padding-top: 20px;
}

h1 {
    font-size: 50px;
    color: var(--cor1);
    text-align: center;

}
p{
    color: var(--cor1);
}
h2{
     color: var(--cor1);
}

.dados{
    padding: 0 10px;
}
input{
    margin: 15px;
}
label{
    margin: 15px auto 15px 0;
    color: var(--cor1);
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    min-height: 500px;
    margin: auto;
    box-sizing: border-box;


}

#main-generator {
    background-image: url('assets/images/pattern-ticket.svg');
    background-repeat: no-repeat;
    background-position: center;
}